<div id="search_stu_window">
    <div id="search_stu_id">
        <font color="red">輸入的中文姓名中若有特殊字則可能無法查詢,可輸入部分字串</font>
        中文姓名、英文姓或英文名<br>
        <input type="text" id="search_name_cond" size="20">&nbsp;
        <input type="button" id="search_name_button" value="查詢">
        <input type="button" id="cancel_search_stu" value="取消查詢">
    </div>
    <div id="show_stu_name">
    </div>
</div>
<script>
    $("#search_stu_window").css({ width: "300", border: "2px", dashed: "red" });
    $("#search_stu_id").css({ background: "#EEEEEE" });
    $("#show_stu_name").css({ background: "#F9F9F9" });
    $("input#search_name_button").click(function (e) {
        e.preventDefault();
        // send requests
        $.ajax({
            type: "POST",
            url: "http://140.136.191.11/admin/ajax_php/search_stu_id.php",
            data: "search_name_cond=" + $("#search_name_cond").val(),
            dataType: "html",
            success: function (msg) {
                $("div#show_stu_name").html("<font color=blue>" + msg + "</font>");
            }
        });
    });
    // 按下取消查詢，清空資料，隱藏div
    $("input#cancel_search_stu").click(function (e) {
        e.preventDefault();
        clearDATA();
        $("div#search_stu_window").hide("fast");
    });
    //隱藏起來
    $("div#search_stu_window").hide();

    //未完成：按下查詢出的資料，帶入值後隱藏視窗
    //$("")

    //由其他html建立的button(負責顯示)
    $("#open_search_stu_id").click(function (e) {
        e.preventDefault();
        //跟著滑鼠的位置
        $("div#search_stu_window").css({ position: "absolute", top: " + window.event.clientX + px", left: " + window.event.clientY + px" });
        $("div#search_stu_window").show("fast");
    });

    function clearDATA() {
        $("#search_name_cond").val("");
        $("div#show_stu_name").html("");
    }

</script>