<script type="text/javascript" src="../ajax/jquery.js"></script>

<script>    /* 要查詢東西，要加以下三行(尚末處理回傳值) */ </script>
<input type="button" name="button" id="open_search_stu_id" value="查詢">
<div id="window"></div>
<script>$("#window").load("search_stu_id.html");</script>
