<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=big5">
<meta name=ProgId content=Word.Document>
<meta name=Generator content="Microsoft Word 10">
<meta name=Originator content="Microsoft Word 10">
<link rel=File-List href="語言中心教師AB_MONTH月份請假記錄表.files/filelist.xml">
<title>語言中心教師AB_MONTH月份請假記錄表</title>
<!--[if gte mso 9]><xml>
 <o:DocumentProperties>
  <o:Author>打混摸魚</o:Author>
  <o:LastAuthor>打混摸魚</o:LastAuthor>
  <o:Revision>2</o:Revision>
  <o:TotalTime>51</o:TotalTime>
  <o:Created>2003-10-30T08:11:00Z</o:Created>
  <o:LastSaved>2003-10-30T08:11:00Z</o:LastSaved>
  <o:Pages>1</o:Pages>
  <o:Words>23</o:Words>
  <o:Characters>137</o:Characters>
  <o:Company>吃飯睡覺</o:Company>
  <o:Lines>1</o:Lines>
  <o:Paragraphs>1</o:Paragraphs>
  <o:CharactersWithSpaces>159</o:CharactersWithSpaces>
  <o:Version>10.4219</o:Version>
 </o:DocumentProperties>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <w:WordDocument>
  <w:SpellingState>Clean</w:SpellingState>
  <w:GrammarState>Clean</w:GrammarState>
  <w:PunctuationKerning/>
  <w:DisplayHorizontalDrawingGridEvery>0</w:DisplayHorizontalDrawingGridEvery>
  <w:DisplayVerticalDrawingGridEvery>2</w:DisplayVerticalDrawingGridEvery>
  <w:Compatibility>
   <w:SpaceForUL/>
   <w:BalanceSingleByteDoubleByteWidth/>
   <w:DoNotLeaveBackslashAlone/>
   <w:ULTrailSpace/>
   <w:DoNotExpandShiftReturn/>
   <w:AdjustLineHeightInTable/>
   <w:BreakWrappedTables/>
   <w:SnapToGridInCell/>
   <w:WrapTextWithPunct/>
   <w:UseAsianBreakRules/>
   <w:UseFELayout/>
  </w:Compatibility>
  <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
 </w:WordDocument>
</xml><![endif]-->
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:新細明體;
	panose-1:2 2 3 0 0 0 0 0 0 0;
	mso-font-alt:PMingLiU;
	mso-font-charset:136;
	mso-generic-font-family:roman;
	mso-font-pitch:variable;
	mso-font-signature:3 137232384 22 0 1048577 0;}
@font-face
	{font-family:標楷體;
	panose-1:3 0 5 9 0 0 0 0 0 0;
	mso-font-charset:136;
	mso-generic-font-family:script;
	mso-font-pitch:fixed;
	mso-font-signature:3 137232384 22 0 1048577 0;}
@font-face
	{font-family:"\@標楷體";
	panose-1:3 0 5 9 0 0 0 0 0 0;
	mso-font-charset:136;
	mso-generic-font-family:script;
	mso-font-pitch:fixed;
	mso-font-signature:3 137232384 22 0 1048577 0;}
@font-face
	{font-family:"\@新細明體";
	panose-1:2 2 3 0 0 0 0 0 0 0;
	mso-font-charset:136;
	mso-generic-font-family:roman;
	mso-font-pitch:variable;
	mso-font-signature:3 137232384 22 0 1048577 0;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{mso-style-parent:"";
	margin:0cm;
	margin-bottom:.0001pt;
	mso-pagination:none;
	font-size:12.0pt;
	font-family:"Times New Roman";
	mso-fareast-font-family:新細明體;
	mso-font-kerning:1.0pt;}
span.GramE
	{mso-style-name:"";
	mso-gram-e:yes;}
 /* Page Definitions */
 @page
	{mso-page-border-surround-header:no;
	mso-page-border-surround-footer:no;}
@page Section1
	{size:595.3pt 841.9pt;
	margin:42.55pt 42.55pt 42.55pt 42.55pt;
	mso-header-margin:42.55pt;
	mso-footer-margin:49.6pt;
	mso-paper-source:0;
	layout-grid:18.0pt;}
div.Section1
	{page:Section1;}
-->
</style>
<!--[if gte mso 10]>
<style>
 /* Style Definitions */
 table.MsoNormalTable
	{mso-style-name:表格內文;
	mso-tstyle-rowband-size:0;
	mso-tstyle-colband-size:0;
	mso-style-noshow:yes;
	mso-style-parent:"";
	mso-padding-alt:0cm 5.4pt 0cm 5.4pt;
	mso-para-margin:0cm;
	mso-para-margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:10.0pt;
	font-family:"Times New Roman";
	mso-fareast-font-family:"Times New Roman";}
table.MsoTableGrid
	{mso-style-name:表格格線;
	mso-tstyle-rowband-size:0;
	mso-tstyle-colband-size:0;
	border:solid windowtext 1.0pt;
	mso-border-alt:solid windowtext .5pt;
	mso-padding-alt:0cm 5.4pt 0cm 5.4pt;
	mso-border-insideh:.5pt solid windowtext;
	mso-border-insidev:.5pt solid windowtext;
	mso-para-margin:0cm;
	mso-para-margin-bottom:.0001pt;
	mso-pagination:none;
	font-size:10.0pt;
	font-family:"Times New Roman";}
</style>
<![endif]--><!--[if gte mso 9]><xml>
 <o:shapedefaults v:ext="edit" spidmax="1026"/>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <o:shapelayout v:ext="edit">
  <o:idmap v:ext="edit" data="1"/>
 </o:shapelayout></xml><![endif]-->
</head>

<body lang=ZH-TW style='tab-interval:24.0pt;text-justify-trim:punctuation'>

<div class=Section1 style='layout-grid:18.0pt'>

<table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0
 style='margin-left:5.4pt;border-collapse:collapse;border:none;mso-border-alt:
 solid windowtext 1.5pt;mso-yfti-tbllook:480;mso-padding-alt:0cm 2.85pt 0cm 2.85pt'>
 <tr style='mso-yfti-irow:0'>
  <td width=672 colspan=14 valign=top style='width:504.0pt;border:solid windowtext 1.5pt;
  padding:0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='font-size:14.0pt;font-family:標楷體'>語言中心教師AB_MONTH月份請假記錄表<span lang=EN-US><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:1'>
  <td width=81 style='width:55.45pt;border-top:none;border-left:solid windowtext 1.5pt;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext 1.5pt;mso-border-top-alt:1.5pt;
  mso-border-left-alt:1.5pt;mso-border-bottom-alt:.5pt;mso-border-right-alt:
  .5pt;mso-border-color-alt:windowtext;mso-border-style-alt:solid;padding:0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal align=center style='text-align:center;line-height:12.0pt;
  layout-grid-mode:char'><span style='font-size:10.0pt;font-family:標楷體'>日期<span
  lang=EN-US><o:p></o:p></span></span></p>
  </td>
  <td width=60 style='width:45.0pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext 1.5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;mso-border-top-alt:solid windowtext 1.5pt;padding:0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal align=center style='text-align:center;line-height:12.0pt;
  layout-grid-mode:char'><span style='font-size:10.0pt;font-family:標楷體'>星期<span
  lang=EN-US><o:p></o:p></span></span></p>
  </td>
  <td width=48 style='width:41.0pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext 1.5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;mso-border-top-alt:solid windowtext 1.5pt;padding:0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal align=center style='text-align:center;line-height:12.0pt;
  layout-grid-mode:char'><span style='font-size:10.0pt;font-family:標楷體'>姓名<span
  lang=EN-US><o:p></o:p></span></span></p>
  </td>
  <td width=36 style='width:27.0pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext 1.5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;mso-border-top-alt:solid windowtext 1.5pt;padding:0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal align=center style='text-align:center;line-height:12.0pt;
  layout-grid-mode:char'><span class=GramE><span style='font-size:10.0pt;
  font-family:標楷體'>假別</span></span><span lang=EN-US style='font-size:10.0pt;
  font-family:標楷體'><o:p></o:p></span></p>
  </td>
  <td width=36 style='width:27.0pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext 1.5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;mso-border-top-alt:solid windowtext 1.5pt;padding:0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal align=center style='text-align:center;line-height:12.0pt;
  layout-grid-mode:char'><span style='font-size:10.0pt;font-family:標楷體'>時數<span
  lang=EN-US><o:p></o:p></span></span></p>
  </td>
  <td width=96 colspan=4 style='width:72.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext 1.5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;mso-border-top-alt:solid windowtext 1.5pt;
  padding:0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal align=center style='text-align:center;line-height:12.0pt;
  layout-grid-mode:char'><span style='font-size:10.0pt;font-family:標楷體'>班級人數<span
  lang=EN-US><o:p></o:p></span></span></p>
  </td>
  <td width=36 style='width:27.0pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext 1.5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;mso-border-top-alt:solid windowtext 1.5pt;padding:0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal align=center style='text-align:center;line-height:12.0pt;
  layout-grid-mode:char'><span style='font-size:10.0pt;font-family:標楷體'>自行<span
  lang=EN-US><br>
  補課<o:p></o:p></span></span></p>
  </td>
  <td width=48 style='width:36.0pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:double windowtext 1.5pt;mso-border-top-alt:
  solid windowtext 1.5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-top-alt:
  solid 1.5pt;mso-border-left-alt:solid .5pt;mso-border-bottom-alt:solid .5pt;
  mso-border-right-alt:double 1.5pt;mso-border-color-alt:windowtext;padding:
  0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal align=center style='text-align:center;line-height:12.0pt;
  layout-grid-mode:char'><span style='font-size:10.0pt;font-family:標楷體'>扣薪<span
  lang=EN-US><o:p></o:p></span></span></p>
  </td>
  <td width=60 style='width:45.0pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext 1.5pt;mso-border-left-alt:double windowtext 1.5pt;
  mso-border-top-alt:solid 1.5pt;mso-border-left-alt:double 1.5pt;mso-border-bottom-alt:
  solid .5pt;mso-border-right-alt:solid .5pt;mso-border-color-alt:windowtext;
  padding:0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal align=center style='text-align:center;line-height:12.0pt;
  layout-grid-mode:char'><span style='font-size:10.0pt;font-family:標楷體'>他人<span
  lang=EN-US><br>
  代課<o:p></o:p></span></span></p>
  </td>
  <td width=48 style='width:36.0pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext 1.5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;mso-border-top-alt:solid windowtext 1.5pt;padding:0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal align=center style='text-align:center;line-height:12.0pt;
  layout-grid-mode:char'><span style='font-size:10.0pt;font-family:標楷體'>代課<span
  lang=EN-US><br>
  薪資<o:p></o:p></span></span></p>
  </td>
  <td width=123 style='width:92.55pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  mso-border-top-alt:solid windowtext 1.5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-top-alt:1.5pt;mso-border-left-alt:.5pt;mso-border-bottom-alt:.5pt;
  mso-border-right-alt:1.5pt;mso-border-color-alt:windowtext;mso-border-style-alt:
  solid;padding:0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal align=center style='text-align:center;line-height:12.0pt;
  layout-grid-mode:char'><span style='font-size:10.0pt;font-family:標楷體'>備註<span
  lang=EN-US><o:p></o:p></span></span></p>
  </td>
 </tr>
<!-- BEGIN DYNAMIC BLOCK: row -->
 <tr style='mso-yfti-irow:2'>
  <td width=81 style='width:55.45pt;border-top:none;border-left:solid windowtext 1.5pt;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-left-alt:solid windowtext 1.5pt;padding:0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
  style='font-size:10.0pt;font-family:標楷體'>AB_DATE<o:p></o:p></span></p>
  </td>
  <td width=60 style='width:45.0pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
  style='font-size:10.0pt;font-family:標楷體'>AB_WEEK<o:p></o:p></span></p>
  </td>
  <td width=48 style='width:41.0pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='font-size:10.0pt;font-family:標楷體'>AB_NAME<span lang=EN-US><o:p></o:p></span></span></p>
  </td>
  <td width=36 style='width:27.0pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='font-size:10.0pt;font-family:標楷體'>AB_TYPE<span lang=EN-US><o:p></o:p></span></span></p>
  </td>
  <td width=36 style='width:27.0pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
  style='font-size:10.0pt;font-family:標楷體'>AB_HOURS<o:p></o:p></span></p>
  </td>
  <td width=24 style='width:18.0pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
  style='font-size:10.0pt;font-family:標楷體'>AB_Q1<o:p></o:p></span></p>
  </td>
  <td width=24 style='width:18.0pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
  style='font-size:10.0pt;font-family:標楷體'>AB_Q2<o:p></o:p></span></p>
  </td>
      <td width=24 style='width:18.0pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0cm 2.85pt 0cm 2.85pt'> <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
  style='font-size:10.0pt;font-family:標楷體'>AB_Q3<o:p></o:p></span></p>
  </td>
      <td width=24 style='width:18.0pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0cm 2.85pt 0cm 2.85pt'> <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
  style='font-size:10.0pt;font-family:標楷體'>AB_Q4<o:p></o:p></span></p>
  </td>
  <td width=36 style='width:27.0pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
  style='font-size:10.0pt;font-family:標楷體'><o:p>AB_RE</o:p></span></p>
  </td>
  <td width=48 style='width:36.0pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:double windowtext 1.5pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;mso-border-right-alt:double windowtext 1.5pt;
  padding:0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
  style='font-size:10.0pt;font-family:標楷體'><o:p>AB_SM</o:p></span></p>
  </td>
  <td width=60 style='width:45.0pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:double windowtext 1.5pt;mso-border-alt:
  solid windowtext .5pt;mso-border-left-alt:double windowtext 1.5pt;padding:
  0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='font-size:10.0pt;font-family:標楷體'>AB_SP<span lang=EN-US><o:p></o:p></span></span></p>
  </td>
  <td width=48 style='width:36.0pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
  style='font-size:10.0pt;font-family:標楷體'><o:p>AB_AM&nbsp;</o:p></span></p>
  </td>
  <td width=123 style='width:92.55pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext 1.5pt;
  padding:0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal><span lang=EN-US style='font-size:10.0pt;font-family:標楷體'>AB_PS<o:p></o:p></span></p>
  </td>
 </tr>
<!-- END DYNAMIC BLOCK: row -->
 <tr style='mso-yfti-irow:3'>
  <td width=81 valign=top style='width:60.45pt;border-top:none;border-left:
  solid windowtext 1.5pt;border-bottom:solid windowtext 1.0pt;border-right:
  solid windowtext 1.0pt;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext 1.5pt;padding:
  0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal><span lang=EN-US style='font-size:10.0pt;font-family:標楷體'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=60 valign=top style='width:45.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal><span lang=EN-US style='font-size:10.0pt;font-family:標楷體'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=48 valign=top style='width:36.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal><span lang=EN-US style='font-size:10.0pt;font-family:標楷體'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=36 valign=top style='width:27.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal><span lang=EN-US style='font-size:10.0pt;font-family:標楷體'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=36 valign=top style='width:27.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal><span lang=EN-US style='font-size:10.0pt;font-family:標楷體'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=96 colspan=4 valign=top style='width:72.0pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal><span lang=EN-US style='font-size:10.0pt;font-family:標楷體'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=36 valign=top style='width:27.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal><span lang=EN-US style='font-size:10.0pt;font-family:標楷體'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=48 valign=top style='width:36.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:double windowtext 1.5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;mso-border-right-alt:double windowtext 1.5pt;
  padding:0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal><span lang=EN-US style='font-size:10.0pt;font-family:標楷體'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=60 valign=top style='width:45.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:double windowtext 1.5pt;
  mso-border-alt:solid windowtext .5pt;mso-border-left-alt:double windowtext 1.5pt;
  padding:0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal><span lang=EN-US style='font-size:10.0pt;font-family:標楷體'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=48 valign=top style='width:36.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal><span lang=EN-US style='font-size:10.0pt;font-family:標楷體'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=123 valign=top style='width:92.55pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext 1.5pt;
  padding:0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal><span lang=EN-US style='font-size:10.0pt;font-family:標楷體'><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:4;mso-yfti-lastrow:yes'>
  <td width=81 valign=top style='width:60.45pt;border-top:none;border-left:
  solid windowtext 1.5pt;border-bottom:solid windowtext 1.5pt;border-right:
  solid windowtext 1.0pt;mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:
  .5pt;mso-border-left-alt:1.5pt;mso-border-bottom-alt:1.5pt;mso-border-right-alt:
  .5pt;mso-border-color-alt:windowtext;mso-border-style-alt:solid;padding:0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal><span lang=EN-US style='font-size:10.0pt;font-family:標楷體'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=60 valign=top style='width:45.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;mso-border-bottom-alt:solid windowtext 1.5pt;
  padding:0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal><span lang=EN-US style='font-size:10.0pt;font-family:標楷體'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=48 valign=top style='width:36.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;mso-border-bottom-alt:solid windowtext 1.5pt;
  padding:0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='font-size:10.0pt;font-family:標楷體'>合計<span lang=EN-US><o:p></o:p></span></span></p>
  </td>
  <td width=36 valign=top style='width:27.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;mso-border-bottom-alt:solid windowtext 1.5pt;
  padding:0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal><span lang=EN-US style='font-size:10.0pt;font-family:標楷體'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=36 valign=top style='width:27.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;mso-border-bottom-alt:solid windowtext 1.5pt;
  padding:0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal><span lang=EN-US style='font-size:10.0pt;font-family:標楷體'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=96 colspan=4 valign=top style='width:72.0pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;mso-border-bottom-alt:solid windowtext 1.5pt;
  padding:0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal><span lang=EN-US style='font-size:10.0pt;font-family:標楷體'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=36 valign=top style='width:27.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;mso-border-bottom-alt:solid windowtext 1.5pt;
  padding:0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal><span lang=EN-US style='font-size:10.0pt;font-family:標楷體'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=48 valign=top style='width:36.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.5pt;border-right:double windowtext 1.5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal><span lang=EN-US style='font-size:10.0pt;font-family:標楷體'>AB_TOTAL1<o:p></o:p></span></p>
  </td>
  <td width=60 valign=top style='width:45.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:double windowtext 1.5pt;
  mso-border-top-alt:solid .5pt;mso-border-left-alt:double 1.5pt;mso-border-bottom-alt:
  solid 1.5pt;mso-border-right-alt:solid .5pt;mso-border-color-alt:windowtext;
  padding:0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal><span lang=EN-US style='font-size:10.0pt;font-family:標楷體'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=48 valign=top style='width:36.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;mso-border-bottom-alt:solid windowtext 1.5pt;
  padding:0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal><span lang=EN-US style='font-size:10.0pt;font-family:標楷體'>AB_TOTAL2<o:p></o:p></span></p>
  </td>
  <td width=123 valign=top style='width:92.55pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 2.85pt 0cm 2.85pt'>
  <p class=MsoNormal><span lang=EN-US style='font-size:10.0pt;font-family:標楷體'><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
 <![if !supportMisalignedColumns]>
 <tr height=0>
  <td width=81 style='border:none'></td>
  <td width=60 style='border:none'></td>
  <td width=48 style='border:none'></td>
  <td width=36 style='border:none'></td>
  <td width=36 style='border:none'></td>
  <td width=24 style='border:none'></td>
  <td width=24 style='border:none'></td>
  <td width=24 style='border:none'></td>
  <td width=24 style='border:none'></td>
  <td width=36 style='border:none'></td>
  <td width=48 style='border:none'></td>
  <td width=60 style='border:none'></td>
  <td width=48 style='border:none'></td>
  <td width=123 style='border:none'></td>
 </tr>
 <![endif]>
</table>

<p class=MsoNormal><span lang=EN-US style='font-family:標楷體'><o:p>&nbsp;</o:p></span></p>

</div>

</body>

</html>
<div style="page-break-before:always">&nbsp;</div>